::backdrop {
    background-image: linear-gradient(#323d51, #4e416f, #754697, #9c5886, #c27450);
    opacity: 0.75;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: url(/media/background_img.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body:has(dialog:open) {
    overflow: hidden;
}

.hidden {
    display: none;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
}

/* ----Checkbox slider CSS---- */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgba(198, 114, 231, 0.8);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgba(198, 114, 231, 0.8);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* -------------------------- */

/* ----- Header ----- */
#header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#header button {
    background-color: rgba(198, 114, 231, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border-radius: 12px;
    padding: 12px 14px;
    min-width: 44px;
    min-height: 44px;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    left: 5%;
    top: 16px;
}

#header ~ hr {
    margin-top: 0;
}

@media (max-width: 600px) {
    #header h1 {
        margin-left: 20px;
    }
}
/* ----- End Header ----- */

hr {
    width: 90%;
    margin: 12px 0 0;
}

#body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0;
}

#searchContainer {
    display: flex;
    margin: 20px;
    width: 30vw;
}

#searchInput {
    display: inline-block;
    font-size: 1.5rem;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 10px 0px 0px 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    text-align: center;
    border-right-width: 0;
    width: 75%;
    margin: 0;
}

#searchBtn {
    display: inline-block;
    font-size: 1.5rem;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 0 10px 10px 0;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    text-align: center;
    border-left-width: 0;
    cursor: pointer;
    margin: 0;
}
#searchBtn img {
    vertical-align: middle;
    filter: invert();
}

.profilePicContainer {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 10px 10px;
}

.userProfilePic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.friendInfoContainer {
    flex-direction: row;
    width: 60vw;
}

.friendInfoContainer p {
    padding-left: 30px;
}

.friendNickname {
    font-size: 2.5rem;
    margin-bottom: 0;
}

.friendName {
    font-size: 1.5rem;
    margin-top: 0;
    color: rgba(255, 255, 255, 0.6)
}

#addFriendBtnContainer {
    margin-top: 20px;
}

.glassBtn {
    display: inline-block;
    padding: 16px;
    border: 0;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(198, 114, 231, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    font-size: 1.5rem;
}

.glassBtn:hover {
    background-color: rgba(198, 114, 231, 0.2);
}

#addFriendDialog {
    background-color: rgba(198, 114, 231, 0.75);
    border: none !important;
    border-radius: 30px;
    width: 50vw;
    padding: 0;
}

#dialogHeader {
    display: flex;
    justify-content: center;
    background-color: rgba(114, 68, 173, 0.9);
}

#dialogBody {
    padding: 20px;
}

#dialogBody p {
    font-size: 1.5rem;
}

/* ----- Media Styles ----- */

@media (max-width: 600px) {
    .friendInfoContainer {
        width: 90vw;
    }

    #searchContainer {
        width: 100vw;
    }

    .friendNickname {
        font-size: 2rem;
    }

    .friendName {
        font-size: 1rem;
    }

    #addFriendDialog {
        width: 90vw;
    }
}