body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: url(/media/background_img.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ----Checkbox slider CSS---- */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgba(198, 114, 231, 0.8);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgba(198, 114, 231, 0.8);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* -------------------------- */

.hidden {
    display: none;
}

#alarmContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
}

/* ----- Header ----- */
#header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#header button {
    background-color: rgba(198, 114, 231, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border-radius: 12px;
    padding: 12px 14px;
    min-width: 44px;
    min-height: 44px;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    left: 5%;
    top: 16px;
}

#header ~ hr {
    margin-top: 0;
}

@media (max-width: 600px) {
    #header h1 {
        margin-left: 20px;
    }
}
/* ----- End Header ----- */

hr {
    width: 90%;
    margin: 12px 0 0;
}

#body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0;
}

/* ----- Alarm Info Card ----- */
#alarmInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#alarmRepeatContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
}

#alarmRepeatContainer p {
    margin: 5px;
}

#alarmInfoEditContainer {
    position: absolute;
    top: 12px;
    right: 12px;
}

#editAlarmInfo {
    cursor: pointer;
    font-size: 1rem;
    color: #c672e7;
    border: 1px solid #c672e7;
    padding: 5px 10px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

#editAlarmInfo:hover {
    background-color: #c27450;
    color: white;
}

#alarmTimeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
}

#alarmTimeContainer p {
    margin: 5px;
}

#alarmTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
}

#alarmTitleContainer p {
    margin: 5px 0;
    word-wrap: nowrap;
    text-wrap-style: ellipsis;
}

/* ----- Alarm Sender Info Card -----*/
#alarmSenderInfo h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

#senderInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

#senderProfilePic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    margin-right: 20px;
}

#alarmAllowMomentoSetting {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px 0;
    padding: 0 10px;
}

.switch {
    margin-left: 20px;
}

#alarmSenderInfo a {
    color: #c672e7;
    text-decoration: none;
    font-weight: bold;
}

/* ----- Alarm Fallback Videos ----- */
#fallbackVideosHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 10px;
}

#fallbackVideosHeader h2, #fallbackVideosHeader p {
    margin: 5px auto;
    text-align: center;
}

#radio-group {
    margin: 10px 0;
}

#radio-group label {
    cursor: pointer;
    font-size: 1.1rem;
    border: 1px solid white;
    margin: 0;
    padding: 10px;
    float: left;
    width: auto;
    height: 1.25rem;
    text-align: center;
}

#radio-group label:hover {
    background-color: rgba(198, 114, 231, 0.2);
}

#radio-group label:nth-child(1) {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#radio-group label:nth-child(3) {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#radio-group label:nth-child(2) {
    border-left: none;
    border-right: none;
}

#radio-group label:has(input:checked) {
    background-color: rgba(198, 114, 231, 0.4);
    border: 1px solid rgba(198, 114, 231, 0.8);
}

#radio-group input {
    display: none;
}

#videoListContainer {
    overflow-y: scroll;
    max-height: 350px;
}

#videoList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.videoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 10px;
}

.videoItem:hover {
    background-color: rgba(198, 114, 231, 0.2);
}

.videoItem:nth-child(1) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.videoItem:nth-last-child(1) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}



.videoItem input {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #c672e7;
}

@media (max-width: 600px) {
    #radio-group label {
        width: 85px;
        height: 50px;
    }

    .videoItem {
        width: 80vw;
    }
}